@import 'tailwindcss';

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat.ttf');
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('/fonts/NunitoSans.ttf');
}

@theme {
  --color-*: initial;

  --color-color-background: #171412;
  --color-color-font: #ebf6ff;
  --color-color-header: #f4faff;

  --color-color-gray: #323444;
  --color-color-blue: #868dc9;

  --font-primary: 'Nunito Sans';
  --font-header: 'Montserrat';
}

@layer base {
  body {
    font-family: var(--font-primary);
    background-color: var(--color-color-background);
    color: var(--color-color-font);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-header);
    color: var(--color-color-header);
    font-weight: bold;
    text-transform: uppercase;
  }

  h1 {
    font-size: var(--text-2xl);
  }

  h2 {
    font-size: var(--text-xl);
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: var(--text-lg);
  }
}
